

html, body{
    background-color: #ffeead;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}

.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.header{
    background: #3366ff;
}

.menu{
    background-color: #99ccff;
}

.content{
    background-color: #aeae16;
}

.footer{
    background: #9999cc;
}

